/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul,
ol {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  direction: unset;
  list-style-type: none;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html{
  -ms-overflow-style: none;  
    scrollbar-width: none; 
}

::-webkit-scrollbar { 
  width: 1px;  
  background: transparent;  
}



@import url(https://fonts.googleapis.com/css?family=Lora:400,700&subset=latin,cyrillic);


#root{
  width: 100%;
  height: 100%;
}

body,html{
  height: 100%;
}

.container{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #14213d;
  
}




.ToDolist{
  width: 700px;
  height: 700px;
  display: flex;
  border-radius: 15px;
  flex-direction: column;
  padding: 20px;
}

.ToDolist h1{
  font-family: 'Lora', serif;
  font-size: 24px;
  color: #e5e5e5;
  text-transform: uppercase;
  text-align: center;
}

.ToDolist form{
  margin-top: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.ToDolist form input{
  position: relative;
  width: 100%;
  height: 50px;
  border: 1px solid ;
  outline-style: none;
  background-color: #e5e5e5;
  font-family: 'Lora', serif;
  font-size: 18px;
  padding: 10px;
}

.ToDolist form button {
  text-decoration: none;
  display: inline-block;
  background-color: #fca311;
  border: none;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
}
.ToDolist form button:hover {
  color:#fca311;
  background-color: #000;
  cursor: pointer;
  transition: ease-out .2s;
}

.Tasks{
  overflow-y:scroll;
  scrollbar-width: none;
  margin-top: 40px;
  
}


.Tasks ul li{
 background-color: #fca311;
 margin-top: 30px;
 padding: 10px 10px 10px 30px;
 color: #14213d;
 border-radius: 20px;
 font-size: 18px;
 font-family: 'Montserrat', sans-serif;
 position: relative;
 
 

}

.Tasks ul li img{
  position: absolute;
  width: 30px;
  height: 30px;
  right: 20px;
  top:20%
}
.Tasks ul li img:hover{
  top:10%;
  cursor: pointer;
  transition: ease-in-out;
  transition-duration: .2s;
}

.Tasks ul{
padding:  0 20px 0 20px;


}

.emptyInput{
  border-color: red;

}

